@import "./components/dropdownSort"
@import "./components/catalogSearch"

.catalog_container
  padding: 55px 50px

.catalog-title_container
  padding-bottom: 25px

.catalog-title
  font: bold normal 28px Roboto,serif
  line-height: normal
  margin: 0

.catalog-control
  display: flex
  justify-content: space-between